.report-input-wrap {
  margin-bottom: 16px;
  width: 100%;
}

.report-input-title {
  font-size: 14px;
  color: #2D2D2D;
  margin-bottom: 8px;
  margin-top: 16px;
}

.report-input-title-url {
  margin-top: 11px;
}

.report-input-input {
  width: 100%;
  background-color: #333333;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 12px;
  color: #FFF;
  padding: 0px 11px 0 9px;
  height: 36px;
  box-sizing: border-box;
}

.kekkai-btn-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kekkai-btn {
  border-radius: 7px;
  padding: 13px 0;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  transition: background 0.5s;
}

.kekkai-cancel-btn {
  flex: 3;
  margin-right: 10px;
  background: #CFCFCF;
}

.kekkai-cancel-btn:hover {
  background: #B1B1B1;
}

.kekkai-submit-btn {
  flex: 5;
  background: #333333;
}

.report-tip-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5.63px 8.76px 5.63px 5.63px;
  border-radius: 7.6px;
  border-style: solid;
  border-width: 0.6px;
}

.report-tip-img {
  height: 21.27px;
  margin-right: 6.88px;
  display: block;
  margin-top: 2px;
}

.report-tip-des {
  font-size: 12px;
  color: #3F484D;
}

.report-textarea {
  color: #FFF;
  resize: none;
  height: 65px;
  padding-top: 11px;
}

.report-input-wrap {
  margin-bottom: 0px;
}